<%= stylesheet_link_tag "about", media: "all", "data-turbolinks-track" => true %>

<div id="about-page">
  <div id="category-picker-box">
    <div>
      <p>Choose which aspects of my personality you want to learn more about</p>
      <form action="" id="category-picker">
        <label id='checkbox2'>
          <input type="checkbox" name="category picker" value='coder'>
          <div>
            <span class="image"></span>
            <span class='text'>Code</span>
          </div>
        </label>

        <label id='checkbox3'>
          <input type="checkbox" name="category picker" value='traveler'>
          <div>
            <span class="image"></span>
            <span class='text'>Travel</span>
          </div>
        </label>

        <label id='checkbox4'>
          <input type="checkbox" name="category picker" value='job' checked>
          <div>
            <span class="image"></span>
            <span class='text'>Career</span>
          </div>
        </label>
      </form>
    </div>

    <div>
      <p>How much detail you want to see</p>
      <div id="importance-slider-left-border">
        Overview
      </div>
      <div id="importance-slider-container">
        <input type="text" id="importance-slider" data-slider="true" data-slider-range="2,3" data-slider-snap="true" data-slider-step="1" value='2'>
      </div>
      <div id="importance-slider-right-border">
        Detail
      </div>
    </div>

  </div>



  <ul id="about-timeline">

    <li class="about-timeline-entry" data-importance='2'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'blockchain.png' %>" style='height:150px;' alt="">
        <h5>Blockchain Tutorial</h5>
        <p>
          As interest in blockchains grew, I wanted to learn more about it from a technical perspective. I ended up writing a simple tutorial where anyone can write a working blockchain from scratch in the browser. You can follow along the tutorial on <a href="https://github.com/nambrot/blockchain-in-js">Github</a> or see the demo live at <a href="https://blockchain.nambrot.com">blockchain.nambrot.com</a>
        </p>
        <footer>
          <div class="location">
            Boston, MA
          </div>
          <div class="date">
            December 2017
          </div>
          <div class="timeline-entry-tags">
            #coder
          </div>
        </footer>
      </div>
    </li>

    <li class="about-timeline-entry" data-importance='3'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'watcher.png' %>" style='height:150px;' alt="">
        <h5>Watcher</h5>
        <p>
          I was exploring the opportunities a cross platform data model could give us. You can read my <a href="/posts/28-higher-level-data-model-wanted/">write-up</a> or check out my proof-of-concept on <a href="https://github.com/nambrot/watcher">Github</a>
        </p>
        <footer>
          <div class="location">
            Boston, MA
          </div>
          <div class="date">
            September 2017
          </div>
          <div class="timeline-entry-tags">
            #coder
          </div>
        </footer>
      </div>
    </li>

    <li class="about-timeline-entry" data-importance='3'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'algos.png' %>" style='height:150px;' alt="">
        <h5>Algorithms</h5>
        <p>
          I took <a href="https://www.coursera.org/specializations/algorithms">the Coursera algorithms</a> class as a refresher and did the assignments or related topics in Rust and Elm to see both more lower-level, systems approaches as well as high-level functional ones. You can find the code on <a href="https://github.com/nambrot/algorithms">Github</a>
        </p>
        <footer>
          <div class="location">
            Boston, MA
          </div>
          <div class="date">
            July 2017
          </div>
          <div class="timeline-entry-tags">
            #coder
          </div>
        </footer>
      </div>
    </li>

    <li class="about-timeline-entry" data-importance='2'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'streaming.png' %>" style='height:150px;' alt="">
        <h5>Stream Processing Survey</h5>
        <p>
          Compared various stream processing frameworks like Spark Streaming, Akka Streams, Kafka Streams and Apache Beam against the Wellframe coding challenge. You can find the write at <a href="/posts/29-comparing-streaming-frameworks/">here</a>
        </p>
        <footer>
          <div class="location">
            Boston, MA
          </div>
          <div class="date">
            April 2017
          </div>
          <div class="timeline-entry-tags">
            #coder
          </div>
        </footer>
      </div>
    </li>

    <li class="about-timeline-entry" data-importance='3'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'ml.png' %>" style='height:150px;' alt="">
        <h5>Machine Learning</h5>
        <p>
          Took the <a href="https://www.coursera.org/learn/machine-learning">the Andrew Ng Machine Learning</a> class as well as dived into the <a href="http://course.fast.ai">fast.ai deeplearning class</a>. The former's assignments I did in Tensorflow which code you can find on <a href="https://github.com/nambrot/coursera_machine_learning">Github</a>
        </p>
        <footer>
          <div class="location">
            Boston, MA
          </div>
          <div class="date">
            January 2017
          </div>
          <div class="timeline-entry-tags">
            #coder
          </div>
        </footer>
      </div>
    </li>

    <li class="about-timeline-entry" data-importance='3'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'functional.png' %>" style='height:150px;' alt="">
        <h5>Functional Programming</h5>
        <p>
          I took the <a href="https://www.coursera.org/specializations/algorithms">Functional Programming in Scala</a> specialization on Coursera. It was my first exposure with Scala and you can find the code on Github <a href="https://github.com/nambrot/functional_programming">here</a> and <a href="https://github.com/nambrot/spark_class">here.</a>
        </p>
        <footer>
          <div class="location">
            Boston, MA
          </div>
          <div class="date">
            December 2016
          </div>
          <div class="timeline-entry-tags">
            #coder
          </div>
        </footer>
      </div>
    </li>

    <li class="about-timeline-entry" data-importance='3'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'apidocs.png' %>" style='height:150px;' alt="">
        <h5>Auto-generated API documentation</h5>
        <p>
          With a very small team, documentation oftentimes takes a backseat. Since we already had extensive API tests, I created a custom RSpec formatter that would spit out workable documentation for the clients. Read the write up <a href="/posts/26-auto-generated-api-documentation/">here</a>
        </p>
        <footer>
          <div class="location">
            Boston, MA
          </div>
          <div class="date">
            February 2016
          </div>
          <div class="timeline-entry-tags">
            #coder
          </div>
        </footer>
      </div>
    </li>

    <li class="about-timeline-entry" data-importance='2'>
      <div class="about-timeline-entry-card">
        <a data-flickr-embed="true"  href="https://www.flickr.com/photos/23837973@N04/albums/72157661947552107" title="Portugal"><img src="https://farm5.staticflickr.com/4693/27516273529_751c63a03e_z.jpg" width="640" height="416" alt="Portugal"></a>
        <h5>Algarve</h5>
        <p>
          Along the Algarve and Westcost of Portugal in a Campervan
        </p>
        <footer>
          <div class="location">
            Algarve, Portugal
          </div>
          <div class="date">
             June 2015
          </div>
          <div class="timeline-entry-tags">
            #traveler
          </div>
        </footer>
      </div>
    </li>

    <!-- #Capetown-->
    <li class="about-timeline-entry" data-importance='2'>
      <div class="about-timeline-entry-card">
        <a data-flickr-embed="true"  href="https://www.flickr.com/photos/23837973@N04/albums/72157667773062549" title="Capetown"><img src="https://farm5.staticflickr.com/4729/38415384015_4ba617ddb3_z.jpg" width="640" height="518" alt="Capetown"></a>
        <h5>Capetown</h5>
        <p>
          First time to Africa to the beautiful town of Capetown
        </p>
        <footer>
          <div class="location">
            Capetown, South Africa
          </div>
          <div class="date">
             March 2015
          </div>
          <div class="timeline-entry-tags">
            #traveler
          </div>
        </footer>
      </div>
    </li>

    <!-- #Holygrail-->
    <li class="about-timeline-entry" data-importance='2'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'rails-react.png' %>" style='height:150px;' alt="">
        <h5>Server-side Rendering in Rails with React</h5>
        <p>
          "Holygrail" Webapp by writing isomorphic React/Flux backed by Rails. Read the write-up <a href="http://nambrot.com/posts/23-snappy-server-rendered-web-app-with-rails-webpack-react-flux/">here.</a>
        </p>
        <footer>
          <div class="location">
            Hanoi, Vietnam
          </div>
          <div class="date">
            March 2015
          </div>
          <div class="timeline-entry-tags">
            #coder
          </div>
        </footer>
      </div>
    </li>

    <!-- #Vietnam2-->
    <li class="about-timeline-entry" data-importance='3'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'vietnam2.jpg' %>" style='height:150px;' alt="">
        <h5>Vietnam</h5>
        <p>
          Going home for Tet
        </p>
        <footer>
          <div class="location">
            Hanoi, Vietnam
          </div>
          <div class="date">
             Feburary 2015
          </div>
          <div class="timeline-entry-tags">
            #traveler
          </div>
        </footer>
      </div>
    </li>

    <!-- #Virgin Islands-->
    <li class="about-timeline-entry" data-importance='2'>
      <div class="about-timeline-entry-card">
        <a data-flickr-embed="true"  href="https://www.flickr.com/photos/23837973@N04/albums/72157688717095002" title="US Virgin Islands"><img src="https://farm5.staticflickr.com/4601/38584704014_332bba0b1a_z.jpg" width="640" height="480" alt="US Virgin Islands"></a>
        <h5>US Virgin Islands</h5>
        <p>
          Winter Getaway
        </p>
        <footer>
          <div class="location">
            Water Island, US Virgin Islands
          </div>
          <div class="date">
             January 2015
          </div>
          <div class="timeline-entry-tags">
            #traveler
          </div>
        </footer>
      </div>
    </li>

    <!-- #Battlehack-->
    <li class="about-timeline-entry" data-importance='3'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'battlehack.svg' %>" style='height:150px;' alt="">
        <h5>PayPal Battlehack Boston Winner</h5>
        <p>
          Won the <a href="https://2014.battlehack.org/boston">PayPal Battlehack Boston 2014 hackathon</a> with <a href="https://github.com/nambrot/late-night-safety-kit">Late Night Safety Kit</a>. Read more <a href="http://bostinno.streetwise.co/2014/08/12/winners-of-bostons-paypal-battlehack-2014-paypal-battlehack-2014-date-and-winners/">here</a>
        </p>
        <p>
          We ended up going to the finals in San Francisco and making 3rd place.
        </p>
        <footer>
          <div class="location">
            Boston
          </div>
          <div class="date">
            August 2014
          </div>
          <div class="timeline-entry-tags">
            #coder #geek
          </div>
        </footer>
      </div>
    </li>

    <!-- #Erutpa-->
    <li class="about-timeline-entry" data-importance='3'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'erutpa.png' %>" style='height:150px;' alt="">
        <h5>Erutpa</h5>
        <p>
          I loved Apture so much, that I decided to reincarnate it as <a href="https://github.com/nambrot/erutpa">Erutpa</a>
        </p>
        <footer>
          <div class="location">
            Boston
          </div>
          <div class="date">
            June 2014
          </div>
          <div class="timeline-entry-tags">
            #coder #geek
          </div>
        </footer>
      </div>
    </li>

    <!-- #Wellframe-->
    <li class="about-timeline-entry flippable" data-importance='2'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'wellframe.png' %>" style='height:150px;' alt="">
        <h5>Wellframe</h5>
        <p>
          Software Engineering @ <a href="https://www.wellframe.com">Wellframe</a>, delivering personalized care when patients need it.
        </p>
        <footer>
          <div class="location">
            Boston
          </div>
          <div class="date">
             June 2014
          </div>
          <div class="timeline-entry-tags">
            #job #coder
          </div>
        </footer>
      </div>
      <div class="about-timeline-entry-detail" style='width: 500%;'>
        <div class="margin-5">
          <h2><a href="https://www.wellframe.com">Wellframe</a></h2>
          <p>I met Wellframe during Summer@Highland, stayed in touch and then joined them after college. I have learned loads, both technically and culturally about how to find product market-fit and grow in a massive and heavily regulated industry such as healthcare.</p>

          <p>I was an early software engineer taking Wellframe as a proof of concept in pilots with local hospitals to full enterprise readiness with Fortune 100 clients. Wellframe is delivering targeted interventions to patients through a mobile app, by offering a intelligent platform that personalizes care with clinically proven models and workflows.</p>

          <p>I was reponsible for everything from the Ruby on Rails backend, to a React-based frontend as well as general engineering practices and operation concerns such as CI and deploys.</p>
        </div>
      </div>
    </li>

    <!-- #Costa Rica-->
    <li class="about-timeline-entry" data-importance='2'>
      <div class="about-timeline-entry-card">
        <a data-flickr-embed="true"  href="https://www.flickr.com/photos/23837973@N04/albums/72157667772892769" title="Costa Rica"><img src="https://farm5.staticflickr.com/4638/25424390368_c4c612d1a0_z.jpg" width="640" height="427" alt="Costa Rica"></a>
        <h5>Costa Rica</h5>
        <p>
          Spontanous Getaway on a $168 Roundtrip fare. I wrote about my experience at <a href="http://www.nambrot.com/posts/12-the-most-spontaneous-thing-i-have-done-so-far/">The Most Spontaneous Thing I Have Done So Far.</a>
        </p>
        <footer>
          <div class="location">
            Playa del Coco, Costa Rica
          </div>
          <div class="date">
             June 2014
          </div>
          <div class="timeline-entry-tags">
            #traveler
          </div>
        </footer>
      </div>
    </li>

    <!-- Madagascar -->
    <li class="about-timeline-entry" data-importance='3'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'madagascar.png' %>" style='height:150px;' alt="">
        <h5>Madagascar Project</h5>
        <p>
          My contribution for our International Human Rights Class Project: A report on human rights in Madagascar. With TimeMachine flow effect and richly-tagged Maps. Check out <a href="http://www.nambrot.com/madagascar">here.</a>
        </p>
        <footer>
          <div class="location">
            Boston, MA
          </div>
          <div class="date">
            April 2014
          </div>
          <div class="timeline-entry-tags">
            #coder
          </div>
        </footer>
      </div>
    </li>

    <!-- Miami -->
    <li class="about-timeline-entry" data-importance='3'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'miami.jpg' %>" style='height:150px;' alt="">
        <h5>Miami</h5>
        <p>
          Spring Break. 'Nuff Said.
        </p>
        <footer>
          <div class="location">
            Miami, FL
          </div>
          <div class="date">
            March 2014
          </div>
          <div class="timeline-entry-tags">
            #traveler
          </div>
        </footer>
      </div>
    </li>

    <!-- ifttt webhooks-->
    <li class="about-timeline-entry" data-importance='3'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'github.png' %>" style='height:150px;' alt="">
        <h5>IFTTT Webhooks</h5>
        <p>
          Got annoyed enough that IFTTT still does not offer a Webhook trigger to make my own at <a href="https://github.com/nambrot/xmlrpc_controller">github.com/nambrot/xmlrpc_controller</a>
        </p>
        <footer>
          <div class="location">
            Boston, MA
          </div>
          <div class="date">
            March 2014
          </div>
          <div class="timeline-entry-tags">
            #coder
          </div>
        </footer>
      </div>
    </li>

    <!-- ar-find-in-batches-with-order -->
    <li class="about-timeline-entry" data-importance='3'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'github.png' %>" style='height:150px;' alt="">
        <h5>Find_each in Rails with custom ordering</h5>
        <p>
          Tiny gem to allow find_each with custom ordering. Read about it <a href="http://nambrot.com/posts/9-find_each-with-customer-ordering-in-rails">here.</a>
        </p>
        <footer>
          <div class="location">
            Boston, MA
          </div>
          <div class="date">
            March 2014
          </div>
          <div class="timeline-entry-tags">
            #coder
          </div>
        </footer>
      </div>
    </li>

    <!-- #HomeTrip2014-->
    <li class="about-timeline-entry" data-importance='2'>
      <div class="about-timeline-entry-card">
        <a data-flickr-embed="true"  href="https://www.flickr.com/photos/23837973@N04/albums/72157663990360498" title="Winter Trip 2014"><img src="https://farm5.staticflickr.com/4642/27515996369_6ca7387871_z.jpg" width="640" height="326" alt="Winter Trip 2014"></a>
        <h5>#HomeTrip2014</h5>
        <p>
          Went home on a fuel-dumped ticket with a detour through the Swiss Alpes
        </p>
        <footer>
          <div class="location">
            Swiss Alpes
          </div>
          <div class="date">
            Feburary 2014
          </div>
          <div class="timeline-entry-tags">
            #traveler
          </div>
        </footer>
      </div>
    </li>


    <!-- LA -->
    <li class="about-timeline-entry" data-importance='3'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'la.jpg' %>" style='height:150px;' alt="" data-gallery-decorate=true data-gallery-id='5984552177299342433-google'>
        <h5>Los Angeles</h5>
        <p>
          #HackTech in beautiful Los Angeles, built <a href="https://github.com/nambrot/pinterest_heatmap">pinterest_heatmap</a>, a heatmap of travel pins in Pinterest
        </p>
        <footer>
          <div class="location">
            Los Angeles, CA
          </div>
          <div class="date">
            January 2014
          </div>
          <div class="timeline-entry-tags">
            #traveler #coder
          </div>
        </footer>
      </div>
    </li>

    <!-- #WinterTrip2013-->
    <li class="about-timeline-entry" data-importance='2'>
      <div class="about-timeline-entry-card">
        <a data-flickr-embed="true"  href="https://www.flickr.com/photos/23837973@N04/albums/72157661947014887" title="Winter Trip 2013"><img src="https://farm5.staticflickr.com/4645/38415158365_60157e82cc_z.jpg" width="640" height="360" alt="Winter Trip 2013"></a>
        <h5>#WinterTrip2013</h5>
        <p>
          Roadtrip with the bros with stops in Vermont, Atlantic City, Charlottesville, Savannah, Charlotte, Atlanta, Chattanooga, Nashville, Sylvania
        </p>
        <footer>
          <div class="location">
            Tour
          </div>
          <div class="date">
            December 2013
          </div>
          <div class="timeline-entry-tags">
            #traveler
          </div>
        </footer>
      </div>
    </li>

    <!-- Paternalism paper tutorial -->
    <li class="about-timeline-entry" data-importance='3'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'paternalism.gif' %>" style='height:150px;' alt="">
        <h5>Paternalism Final Paper</h5>
        <p>
          A repost of my final paper for my "Intro to Ethics" on <a href="http://nambrot.com/posts/8-strength-of-paternalistic-arguments">the strength of paternalistic arguments</a>
        </p>
        <footer>
          <div class="location">
            Boston, MA
          </div>
          <div class="date">
            December 2013
          </div>
          <div class="timeline-entry-tags">
            #coder (code of life?!?)
          </div>
        </footer>
      </div>
    </li>

    <!-- St. Louis -->
    <li class="about-timeline-entry" data-importance='3'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'stlouis.jpg' %>" style='height:150px;' alt="" data-gallery-decorate=true data-gallery-id='5971502819732045681-google'>
        <h5>St. Louis</h5>
        <p>
          Quick stint to the arch for an engineering camp
        </p>
        <footer>
          <div class="location">
            St. Louis, MO
          </div>
          <div class="date">
            October 2013
          </div>
          <div class="timeline-entry-tags">
            #traveler
          </div>
        </footer>
      </div>
    </li>

    <!-- Rails tutorial -->
    <li class="about-timeline-entry" data-importance='3'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'rails.jpg' %>" style='height:150px;' alt="">
        <h5>Ruby on Rails Tutorial</h5>
        <p>
          Gave a short Ruby on Rails tutorial at BU. Read more <a href="http://nambrot.com/posts/7-running-an-intro-to-web-development">here.</a>
        </p>
        <footer>
          <div class="location">
            Boston, MA
          </div>
          <div class="date">
            October 2013
          </div>
          <div class="timeline-entry-tags">
            #coder
          </div>
        </footer>
      </div>
    </li>

    <!-- About -->
    <li class="about-timeline-entry" data-importance='3'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'about.jpg' %>" style='height:150px;' alt="">
        <h5>About Page Redesign</h5>
        <p>
          How. meta. is. this. Read. <a href="http://www.nambrot.com/posts/4-anatomy-of-an-about-page-redesign">here.</a>
        </p>
        <footer>
          <div class="location">
            Berlin, Germany
          </div>
          <div class="date">
            August 2013
          </div>
          <div class="timeline-entry-tags">
            #coder
          </div>
        </footer>
      </div>
    </li>

    <!-- Harz -->
    <li class="about-timeline-entry" data-importance='3'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'harz.jpg' %>" style='height:150px;' alt="" data-gallery-decorate=true data-gallery-id='5912292901019973937-google'>
        <h5>Harz</h5>
        <p>
          Family Trip into the German Mountains of the Harz
        </p>
        <footer>
          <div class="location">
            Harz, Germany
          </div>
          <div class="date">
            August 2013
          </div>
          <div class="timeline-entry-tags">
            #traveler
          </div>
        </footer>
      </div>
    </li>

    <!-- Bangkok -->
    <li class="about-timeline-entry" data-importance='3'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'bangkok.jpg' %>" style='height:150px;' alt="" data-gallery-decorate=true data-gallery-id='5911986433557428945-google'>
        <h5>Bangkok</h5>
        <p>
          Busy, lively and charming capital. Horrible traffic.
        </p>
        <footer>
          <div class="location">
            Bangkok, Thailand
          </div>
          <div class="date">
            July 2013
          </div>
          <div class="timeline-entry-tags">
            #traveler
          </div>
        </footer>
      </div>
    </li>

    <!-- Sapa -->
    <li class="about-timeline-entry" data-importance='3'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'sapa.jpg' %>" style='height:150px;' alt="" data-gallery-decorate=true data-gallery-id='5911986767047655537-google'>
        <h5>Sapa</h5>
        <p>
          The Alpes of Indochina
        </p>
        <footer>
          <div class="location">
            Sapa, Vietnam
          </div>
          <div class="date">
            July 2013
          </div>
          <div class="timeline-entry-tags">
            #traveler
          </div>
        </footer>
      </div>
    </li>

    <!-- Danang -->
    <li class="about-timeline-entry" data-importance='3'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'danang.jpg' %>" style='height:150px;' alt="" data-gallery-decorate=true data-gallery-id='5911986813937397953-google'>
        <h5>Danang</h5>
        <p>
          Luxurious Beach Paradise
        </p>
        <footer>
          <div class="location">
            Danang, Vietnam
          </div>
          <div class="date">
            June 2013
          </div>
          <div class="timeline-entry-tags">
            #traveler
          </div>
        </footer>
      </div>
    </li>

    <!-- Hanoi -->
    <li class="about-timeline-entry" data-importance='2'>
      <div class="about-timeline-entry-card">
        <a data-flickr-embed="true"  href="https://www.flickr.com/photos/23837973@N04/albums/72157691470199385" title="Hanoi"><img src="https://farm5.staticflickr.com/4640/27515845249_6a08fed3fd_z.jpg" width="640" height="426" alt="Hanoi"></a>
        <h5>Hanoi</h5>
        <p>
          Family Heritage in and around Hanoi.
        </p>
        <footer>
          <div class="location">
            Hanoi, Vietnam
          </div>
          <div class="date">
            June 2013
          </div>
          <div class="timeline-entry-tags">
            #traveler
          </div>
        </footer>
      </div>
    </li>

    <!-- Singapore -->
    <li class="about-timeline-entry" data-importance='3'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'singapore.jpg' %>" style='height:150px;' alt="" data-gallery-decorate=true data-gallery-id='5911986501939336001-google'>
        <h5>Singapore</h5>
        <p>
          Little Western metropolis right inside Asia
        </p>
        <footer>
          <div class="location">
            Singapore
          </div>
          <div class="date">
            June 2013
          </div>
          <div class="timeline-entry-tags">
            #traveler
          </div>
        </footer>
      </div>
    </li>

    <!-- Spring2013 No.2 -->
    <li class="about-timeline-entry" data-importance='2'>
      <div class="about-timeline-entry-card">
        <a data-flickr-embed="true"  href="https://www.flickr.com/photos/23837973@N04/albums/72157688716780602" title="Spring Trip 2013 #2"><img src="https://farm5.staticflickr.com/4592/39263193332_7c9fbe67cc_z.jpg" width="640" height="427" alt="Spring Trip 2013 #2"></a>
        <h5>#SpringTrip2013 No.2</h5>
        <p>
          3-week tour with stops at the Boston Marathon, Madrid, Granada, Sevilla, Palma de Mallorca, Milan and Venice.
        </p>
        <footer>
          <div class="location">
            Tour
          </div>
          <div class="date">
            March 2013
          </div>
          <div class="timeline-entry-tags">
            #traveler
          </div>
        </footer>
      </div>
    </li>

    <!-- Spring2013 Roadtrip -->
    <li class="about-timeline-entry" data-importance='2'>
      <div class="about-timeline-entry-card">
        <a data-flickr-embed="true"  href="https://www.flickr.com/photos/23837973@N04/albums/72157689897473851" title="Spring Trip 2013"><img src="https://farm5.staticflickr.com/4689/27515491339_d756e7a619_z.jpg" width="640" height="424" alt="Spring Trip 2013"></a></h5>
        <p>
          Roadtrip with Danielle and Wilken from San Antonio, TX to Las Vegas, NV. This time around I was 21 and made $500 at the poker tables in the Bellagio. At the shooting range in Alburquerque.
        </p>
        <footer>
          <div class="location">
            Alburquerque, NM and Las Vegas, NV
          </div>
          <div class="date">
            March 2013
          </div>
          <div class="timeline-entry-tags">
            #traveler
          </div>
        </footer>
      </div>
    </li>

    <!-- SXSW -->
    <li class="about-timeline-entry" data-importance='3'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'sxsw.jpg' %>" style='height:150px;' alt="">
        <h5>SXSW</h5>
        <p>
          Attended the world's largest tech and music festival. Sponsored by the Berlin Senate and hung with the <a href="http://interactatx.com/">InteractATX</a> Crew
        </p>
        <footer>
          <div class="location">
            Austin, TX
          </div>
          <div class="date">
            March 2013
          </div>
          <div class="timeline-entry-tags">
            #traveler
          </div>
        </footer>
      </div>
    </li>

    <!-- EuroTrip2012 -->
    <li class="about-timeline-entry" data-importance='3'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'eurotrip.jpg' %>" style='height:150px;' alt="">
        <h5>#EuroTrip2012</h5>
        <p>
          Ice-cold tour through Prague, Vienna and Budapest
        </p>
        <footer>
          <div class="location">
            Tour
          </div>
          <div class="date">
            December 2012
          </div>
          <div class="timeline-entry-tags">
            #traveler
          </div>
        </footer>
      </div>
    </li>

    <!-- Credport -->
    <li class="about-timeline-entry flippable" data-importance='2'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'credport.png' %>" style='height:150px;' alt="">
        <h5>Credport</h5>
        <p>Co-Founded my first company with Connor, my roommate from college. Rollercoaster would be an understatement.</p>
        <footer>
          <div class="location">
            Boston, MA and Berlin, Germany
          </div>
          <div class="date">
            Since 2012
          </div>
          <div class="timeline-entry-tags">
            #job #coder
          </div>
        </footer>
      </div>

      <div class="about-timeline-entry-detail" style='width: 500%;'>
        <div class="margin-5">
          <h2><a href="https://www.credport.org">Credport</a></h2>
          <p>Credport is a trust platform for P2P marketplaces. It allows the portability of trust metrics such as reviews and social connections that are especially important for the Sharing Economy. Everything started with Connor's and mine passion for efficiency. We saw great potential in the model pioneered by Airbnb, but thought that the way we deal with trusting stangers online could be improved upon.</p>

          <p>
            Under the supervision of entrepreneurially-spirited Professor Byers at BU, I started to create the first prototype. Soon after, we were admitted to <a href="http://summer.hcp.com/">Summer@Highland</a>, an incredibly great and generous program for young entrepreneurs. Towards the end of the summer, we decided that we couldn't simply return to BU, which is why we applied to <a href="http://www.startupbootcamp.org/programs/berlin.html">Startupbootcamp Berlin</a>, got in and moved in with my parents.
          </p>

          <p>
            You can read Credport's post-mortem at <a href="http://nambrot.com/posts/13-the-tale-of-credport/">The Tale of Credport.</a>
          </p>
        </div>
      </div>
    </li>

    <!-- Las Vegas No.1 -->
    <li class="about-timeline-entry" data-importance='3'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'vegas.jpg' %>" style='height:150px;' alt="">
        <h5>Las Vegas No. 1</h5>
        <p>TechStars Seattle Interviews (unfortunately not 21 at the time)</p>
        <footer>
          <div class="location">
            Las Vegas, NV
          </div>
          <div class="date">
            Summer 2012
          </div>
          <div class="timeline-entry-tags">
            #traveler
          </div>
        </footer>
      </div>
    </li>

    <!-- Rome -->
    <li class="about-timeline-entry" data-importance='3'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'rome.jpg' %>" style='height:150px;' alt="">
        <h5>Rome</h5>
        <p>City Trip with the family to the ancient city of Rome</p>
        <footer>
          <div class="location">
            Rome, Italy
          </div>
          <div class="date">
            Summer 2012
          </div>
          <div class="timeline-entry-tags">
            #traveler
          </div>
        </footer>
      </div>
    </li>

    <!-- NFL Machine Learning -->
    <li class="about-timeline-entry" data-importance='3'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'nfl.jpg' %>" style='height:150px;' alt="">
        <h5>Machine Learning NFL Project</h5>
        <p>
          Final project for me machine learning class in which I attempt to predict the quarterback's decision to run or pass on the play. Read about it <a href="https://www.dropbox.com/s/cy04oxaq83mxvoz/report.pdf">here.</a>
        </p>
        <footer>
          <div class="location">
            Boston, MA
          </div>
          <div class="date">
            May 2012
          </div>
          <div class="timeline-entry-tags">
            #coder
          </div>
        </footer>
      </div>
    </li>

    <!-- FB Photo Browser -->
    <li class="about-timeline-entry" data-importance='3'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'fbphotobrowser.jpg' %>" style='height:150px;' alt="">
        <h5>FBPhotoBrowser</h5>
        <p>First time with Backbone and Node. First Github Project. <a href="https://github.com/nambrot/Facebook-Photo-Browser">Here you go.</a></p>
        <footer>
          <div class="location">
            Boston, MA
          </div>
          <div class="date">
            January 2012
          </div>
          <div class="timeline-entry-tags">
            #coder
          </div>
        </footer>
      </div>
    </li>

    <!-- Apture -->
    <li class="about-timeline-entry flippable" data-importance='2'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'apture.jpg' %>" style='height:150px;' alt="">
        <h5>Apture</h5>
        <p>Interned at the semantic-web, contextual search company Apture (acquired by Google in 2011). My first real job.</p>
        <footer>
          <div class="location">
            San Francisco, CA
          </div>
          <div class="date">
            Summer 2011
          </div>
          <div class="timeline-entry-tags">
            #job #coder
          </div>
        </footer>
      </div>

      <div class="about-timeline-entry-detail" style='width: 500%;'>
        <div class="margin-5">
          <h2>Apture</h2>
          <p>
            I have met Tristan at the Thiel Fellow event earlier the year and was immediately Tristan's passion and product sense. I told myself I had to work for him, no matter the outcome of the Thiel Fellow decision, and so I did.
          </p>

          <p>
            The beginning of my internship was quite scary, as I had no accomodation planned and it was the first time I had to dive into someone else's extensive code base. All while using a language and framework I never used before (Python/Django). Over time however, I get to appreciate all the things that make Silicon Valley one of the greatest places to work and live.
          </p>

          <p>
            Apture's product was (unfortunately discontinued) one of the greatest products of all time in my opinion. When you were reading something on the Internet, but didn't know what X or Y meant, you could simply highlight the term and Apture would give you a little popup with relevant information such as the entity's Wikipedia article, a Google Map, Youtube Videos, etc. It helped me tremendously as a non-native English speaker as well as fuel my curiosity. Before (and after :( ) Apture, I open up way too many Wikipedia articles in new tabs.
          </p>

          <p><a href="http://www.youtube.com/watch/frQxY7tANO8" target="_blank">Apture Demo On YouTube</a></p>

          <p>
            Among other things, I have sped up their local queries trenemendously and improved upon the UX of the map. Since users would generally look up locations of things they didn't know, a simple static map would often not be the best option. Instead, depending on the entity, we'd show a auto-zooming map to give context.
          </p>
        </div>
      </div>
    </li>

    <!-- Puerto Vallerta -->
    <li class="about-timeline-entry" data-importance='3'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'mehico.jpg' %>" style='height:150px;' alt="">
        <h5>Puerto Vallerta</h5>
        <p>Spring Break 2011</p>
        <footer>
          <div class="location">
            Puerto Vallerta, Mexico
          </div>
          <div class="date">
            Spring 2011
          </div>
          <div class="timeline-entry-tags">
            #traveler
          </div>
        </footer>
      </div>
    </li>

    <!-- BU -->
    <li class="about-timeline-entry flippable" data-importance='2'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'bu.jpg' %>" style='height:150px;' alt="">
        <h5>Boston University</h5>
        <p>
          Attended college in the great city of Boston while pursuing a B.A in Computer Science.
        </p>
        <footer>
          <div class="location">
            Boston, MA
          </div>
          <div class="date">
            Since 2010
          </div>
          <div class="timeline-entry-tags">
            #job
          </div>
        </footer>
      </div>
      <div class="about-timeline-entry-detail">
        <div class="margin-5">
          <h2>Boston University</h2>

        <p>Admitted into the inaugural class of the Kilachand Honors College and awarded the full-tuition Trustee Scholarship. Pursued a B.A. in Computer Science.</p>

        <p>
          I still count Boston University as one of the best things that could have happened to me. I grew tremendously as a person by immersing myself into American culture and getting to know people from all walks of life. It was also Boston that introduced my to Startups and Technology on a more professional scale.
        </p>

        <h5>
          Course Work
        </h5>

        <p>
          My Education has been deliberately more breath- than depth-focused. In my first two years in the Honors College, I had the fortunate of immersing myself into various disciplines. Espeically after my leave of absence, I have continued to gain the most of my education by broadening my horizon and taking classes in psycholopgy, philosophy, economics, international relations and visual arts.
        </p>

        <p>
          While I'm certainly not the biggest fan of the very theory/acedemia-oriented CS curriculum at BU, I did had my fair share of interesting courses, Machine Learning being my favorite.
        </p>
        </div>
      </div>
    </li>

    <!-- HHG -->
    <li class="about-timeline-entry flippable" data-importance='3'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'hhgym.jpg' %>" style='height:150px;' alt="">
        <h5>Heinrich-Hertz-Gymnasium</h5>
        <p>
          Attended the science-oriented high school and graduated with the Abitur with a GPA of 1.3
        </p>
        <footer>
          <div class="location">
            Berlin, Germany
          </div>
          <div class="date">
            2003 - 2010
          </div>
          <div class="timeline-entry-tags">
            #job
          </div>
        </footer>
      </div>

      <div class="about-timeline-entry-detail">
        <h2>Heinrich-Hertz-Gymnasium</h2>
        <p>Attended the selective science-oriented high school in Berlin, cumulating in the Abitur, the German high education entrance certificate with a GPA of 1.3 (1.0 being best)</p>
        <p>
          I have loved my high school that allowed my to explore my academic interests among high-achieving peers. I have been class and school president and placed at the top of local and regional science olympiads.
        </p>
        <p>
          Only thing to complain about my high school is the quite devasting gender ratio of 1:5.
        </p>
      </div>
    </li>

    <!-- Event Photography -->
    <li class="about-timeline-entry flippable" data-importance='3'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'event.jpg' %>" style='height:150px;' alt="">
        <h5>Event Photography</h5>
        <p>
          Getting semi-serious with my photography hobby
        </p>
        <footer>
          <div class="location">
            Berlin, Germany and Boston, MA
          </div>
          <div class="date">
            2009 - 2010
          </div>
          <div class="timeline-entry-tags">
            #coder #job
          </div>
        </footer>
      </div>

      <div class="about-timeline-entry-detail">
        <div class="margin-5">
          <h2>Event Photography</h2>
          <p>
            As for many people, photography has been a close hobby of mine, not only for documentary, but artistic purposes as well. While this has been mostly a private endavour, I have peeked into the professional aspects of photography as well.
          </p>
          <p>
            For me, it started with Nightlife photography at <a href="http://www.virtualnights.com">Virtualnights</a>. While it is, in many ways, a great job for nightlife-loving 18-year-old in me, it also is a really crappy one because of the hours. On the positive side, I did not had to worry about not having enough willing subjects.
          </p>
          <p>
            I later tried to get a foot in the door with Fashion Photography, and while I can put the Berlin and Boston Fashion Week onto my portfolio, I had to stop my venturing into professional photography because of time constraints. From this time, I especially appreciated my first exposure to a world unknown to me while covering exclusive locations and crowds.
          </p>
        </div>
      </div>
    </li>

    <!-- Mach Dein X -->
    <li class="about-timeline-entry flippable" data-importance='3'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'machdeinx.png' %>" style='height:150px;' alt="">
        <h5>First short</h5>
        <p>Our first try at a short with my new camera yielded us a lucky second price in a competitiion on Youtube</p>
        <footer>
          <div class="location">
            Berlin, Germany
          </div>
          <div class="date">
            2009
          </div>
          <div class="timeline-entry-tags">
            #coder
          </div>
        </footer>
      </div>

      <div class="about-timeline-entry-detail">
        <div class="margin-5">
          <h2>Short Movie</h2>
          <p>
            After I got my first dslr, I was pumped to try out the video function. Back then, it was the first time you could possibly pull some nice video footage with amazing depth of field with a budget. The German parliament had a contest on YouTube for some creative entries to motivate especially the young population to vote. We took the opportunity and wanted to point out how mechanic many of us live their lives. It's time to break free and make your own decisions! We ultimately placed second and won a behind-the-secnes trip to the German parliament.
          </p>

          <p>
            <a href="http://www.youtube.com/watch?feature=player_embedded&v=yq8leWYYSGk" target="_blank">YouTube Link</a>
          </p>
        </div>
      </div>
    </li>

    <!-- Neuerdings -->
    <li class="about-timeline-entry flippable" data-importance='3'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'neuerdings.png' %>" style='height:150px;' alt="">
        <h5>Tech Blogger</h5>
        <p>A quick writing stunt at tech-blog Neuerdings.com</p>
        <footer>
          <div class="location">
            Berlin, Germany
          </div>
          <div class="date">
            2009
          </div>
          <div class="timeline-entry-tags">
            #job
          </div>
        </footer>
      </div>

      <div class="about-timeline-entry-detail">
        <div class="margin-5">
          <h2>Tech Blogger</h2>
          <p>
            After seeing a job opening at my then favorite gadget blog <a href="http://neuerdings.com">neuerdings.com</a>, I decided to apply and see how it's like. At first, tt was pretty cool knowing that thousands of people would read your posts every day. However, the work itself was pretty dull. It most involved reading other blogs or press releases and create one generic post after the other.
          </p>
        </div>
      </div>
    </li>

    <!-- Nams Remote -->
    <li class="about-timeline-entry flippable" data-importance='2'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'namsremote.jpg' %>" style='height:150px;' alt="">
        <h5>Nam's Remote</h5>
        <p>First money-making side-project</p>
        <footer>
          <div class="location">
            Berlin, Germany
          </div>
          <div class="date">
            Spring 2009
          </div>
          <div class="timeline-entry-tags">
            #coder #job
          </div>
        </footer>
      </div>

      <div class="about-timeline-entry-detail">
        <div class="margin-5">
          <h2>Nam's Remote</h2>
          <p>
            After the "success" of Maps Offline, I quickly realized the fun and reward of just building things that happen to solve a problem. Since I was always fascinated by alternative Input/Output methods to back then Mouse/Keyboard, I wanted to take advantage of the great sensors and technology the iPhone provided.
          </p>
          <p>
            This was also my first real side-project which involved me learning all the goodies of "real" programming. It took me a week to just understand Apple's "Hello World program". Eventually however, I managed to create something usable.
          </p>
          <p>
            Nam's Remote was heavily inspired by the Wii console and started with the idea that you should be able to use your iPhone as a steering wheel for PC games, much like YC-backed <a href="http://flypadapp.com/">Flypad</a> 4 years later. Furthermore, it included templates to remotely control media players, act like a touchpad/keyboard and many more.
          </p>

          <p>
            <a href="http://www.youtube.com/watch/nMl1uPFDzj0" target="_blank">Nam's Remote YouTube Demo</a>
          </p>
          <p>
            In hindsight, just like Maps Offline, I'm quite amazed how I have improvised and things worked out. I had no clue of memory allocation (nor ARC back in the days) and I had my brother do the basic design (as well as speak English in the videos). To control the host, I used the Java Robot API by sending RPC-like messages such as "|mousedown|300|200|" over a UDP connection. It was a lot of google, copy-paste and trial and error until it worked. And I am proud of it.
          </p>

          <p>
            Not only was I among the first 10,000 apps in the AppStore, Nam's Remote was my largest commercial success so far. Seeing the revenue figures right after school was out was quite exciting.
          </p>
        </div>
      </div>
    </li>

    <!-- Maps Offline -->
    <li class="about-timeline-entry flippable" data-importance='3'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'maps.jpg' %>" style='height:150px;' alt="">
        <h5>Maps Offline</h5>
        <p>My first public side project ever.</p>
        <footer>
          <div class="location">
            Berlin, Germany
          </div>
          <div class="date">
            Summer 2008
          </div>
          <div class="timeline-entry-tags">
            #coder
          </div>
        </footer>
      </div>

      <div class="about-timeline-entry-detail">
        <div class="margin-5">
          <h2>Maps Offline</h2>
          <p>
            I don't even know whether Maps Offline deserves the connotation of side-project as it never exceeded 300 lines of code. And those lines are probably the ugliest mankind has ever seen.
          </p>
          <p>
            All started with my desire for the iPhone. It came out earlier in the year and I just needed to have it. It was just too damn expensive. Next best thing: the iPod Touch. Problem: No Internet on the go in the wifi-wasteland that is Germany. Back then, my internal navigation system wasn't quite upto modern standards. So I wanted maps offline.
          </p>
          <p>
            Like all good product stories, I was looking for a solution, couldn't find one, so I decided to try to build me own. Which is easier said than done without prior programming knowledge. Or official API's in the pre AppStore-days. In the end, I managed to scramble something together and lo and behold, people actually liked what I was doing. Seeing five-digit download numbers for something like Maps Offline still baffles me.
          </p>
          <p>
            To date, I trace all of my major life events back to this moment. To get a glimpse at the great quality of Maps Offline, watch the following Video:
          </p>
          <p>
            <a href="http://www.youtube.com/watch/UaSoCNGig68" target='_blank'>Maps Offline YouTube Demo</a>
          </p>
        </div>
      </div>
    </li>

    <!-- START -->
    <li class="about-timeline-entry flippable" data-importance='3'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'start.jpg' %>" style='height:150px;' alt="">
        <h5>START Scholarship</h5>
        <p>Support that I will be eternally grateful for</p>
        <footer>
          <div class="location">
            Berlin, Germany
          </div>
          <div class="date">
            2007 - 2010
          </div>
          <div class="timeline-entry-tags">
            #job
          </div>
        </footer>
      </div>

      <div class="about-timeline-entry-detail">
        <div class="margin-5">
          <h2><a href="http://www.start-stiftung.de/">START Scholarship</a></h2>
          <p>
            The <a href="http://www.start-stiftung.de">START-Scholarship</a> is a Germany-wide scholarship for motivated immigrant students with a financial need. It had a great impact on me and my view on a multicultural society. I was actually rejected the first time around.
          </p>
          <p>
            It was the first time I was exposed to different cultures apart from the German majority and Vietnamese subculture. Not until did the program support me financially, but also organized educational trips and seminars in various topics. It was especially the financial support that allowed me do live and learn more independently and broadly. Amonst other things, it helped to purchase the Macbook crucial for the development of Nam's Remote as well as my camera.
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>

<footer style="font-size:0.5em;">Images from Lemon Liu, Eric Milet, Kris Khoury from The Noun Project</footer>
<script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
