<div id="about-page">
  <header>
    <img src="http://lorempixel.com/120/180/people" alt="" style='float: left; margin-right: 12px;'>
    <h1>Nam Chu Hoai</h1>
    <p>This is an experiment with an about page. It is designed to get to know me as a person, how I have developed and what I have experienced in a more engaging way (apart from very personal stuff). It also reflects the multiple facets of our personality. It draws from a professional CV, an online portfolio and autobiography.</p>
  </header>
  <div id="importance-slider-box">
    <h5 id="importance-slider-label">
      Detaillevel
    </h5>
    <p>How much detail you want to see</p>
    <div id="importance-slider-left-border">
      German Privacy Advocate
    </div>
    <div id="importance-slider-container">
      <input type="text" id="importance-slider" data-slider="true" data-slider-range="2,4" data-slider-snap="true" data-slider-step="1" value='3'>
    </div>
    <div id="importance-slider-right-border">
      NSA
    </div>
  </div>
  <div id="category-picker-box">
    <h5>Aspects</h5>
    <p>Choose which aspects of my personality you want to learn more about</p>
    <form action="" id="category-picker">
      <label id='checkbox1'>
        <input type="checkbox" name="category picker" value='geek'>
        <div>
          <span class="image"></span>
          <span class='text'>Geek</span>
        </div>
      </label>
      
      <label id='checkbox2'>
        <input type="checkbox" name="category picker" value='coder'>
        <div>
          <span class="image"></span>
          <span class='text'>Coder</span>
        </div>
      </label>

      <label id='checkbox3'>
        <input type="checkbox" name="category picker" value='traveler'>
        <div>
          <span class="image"></span>
          <span class='text'>Traveler</span>
        </div>
      </label>

      <label id='checkbox4'>
        <input type="checkbox" name="category picker" value='worker' checked>
        <div>
          <span class="image"></span>
          <span class='text'>Worker</span>
        </div>
      </label>

      <label id='checkbox5'>
        <input type="checkbox" name="category picker" value='student' checked>
        <div>
          <span class="image"></span>
          <span class='text'>Student</span>
        </div>
      </label>
      
      <label id='checkbox6'>
        <input type="checkbox" name="category picker" value='creative'>
        <div>
          <span class="image"></span>
          <span class='text'>Creative</span>
        </div>
      </label>
    </form>
  </div>
  
    
  <ul id="about-timeline">
    
    <!-- Spring2013 No.2 -->
    <li class="about-timeline-entry" data-importance='3'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'alhambra.jpg' %>" style='height:150px;' alt="">
        <h5>#SpringTrip2013 No.2</h5>
        <p>
          3-week tour with stops at the Boston Marathon, Madrid, Granada, Sevilla, Palma de Mallorca, Milan and Venice.
        </p>
        <footer>
          <div class="location">
            Tour
          </span>
          <div class="date">
            March 2013
          </span>
          <div class="timeline-entry-tags">
            #traveler
          </span>
        </footer>
      </div>
    </li>
    
    <!-- Spring2013 Roadtrip -->
    <li class="about-timeline-entry" data-importance='3'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'canyon.jpg' %>" style='height:150px;' alt="">
        <h5>#SpringTrip2013 Roadtrip</h5>
        <p>
          Roadtrip with Danielle and Wilken from San Antonio, TX to Las Vegas, NV. This time around I was 21 and made $500 at the poker tables in the Bellagio. At the shooting range in Alburquerque.
        </p>
        <footer>
          <div class="location">
            Alburquerque, NM and Las Vegas, NV
          </span>
          <div class="date">
            March 2013
          </span>
          <div class="timeline-entry-tags">
            #traveler
          </span>
        </footer>
      </div>
    </li>
    
    <!-- SXSW -->
    <li class="about-timeline-entry" data-importance='3'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'sxsw.jpg' %>" style='height:150px;' alt="">
        <h5>SXSW</h5>
        <p>
          Attended the world's largest tech and music festival. Sponsored by the Berlin Senate and hung with the <a href="http://interactatx.com/">InteractATX</a> Crew
        </p>
        <footer>
          <div class="location">
            Austin, TX
          </span>
          <div class="date">
            March 2013
          </span>
          <div class="timeline-entry-tags">
            #traveler #geek
          </span>
        </footer>
      </div>
    </li>
    
    <!-- Credport -->
    <li class="about-timeline-entry flippable" data-importance='2'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'credport.png' %>" style='height:150px;' alt="">
        <h5>Credport</h5>
        <p>Co-Founded my first company with Connor, my roommate from college. Rollercoaster would be an understatement.</p>
        <footer>
          <div class="location">
            Boston, MA and Berlin, Germany
          </span>
          <div class="date">
            Since 2012
          </span>
          <div class="timeline-entry-tags">
            #geek #worker #coder
          </span>
        </footer>
      </div>
      
      <div class="about-timeline-entry-detail" style='width: 500%;'>
        <div class="margin-5">
          <h2><a href="https://www.credport.org">Credport</a></h2>
          <p>Credport is a trust platform for P2P marketplaces. It allows the portability of trust metrics such as reviews and social connections that are especially important for the Sharing Economy. Everything started with Connor's and mine passion for efficiency. We saw great potential in the model pioneered by Airbnb, but thought that the way we deal with trusting stangers online could be improved upon.</p>
          
          <p>
            Under the supervision of entrepreneurially-spirited Professor Byers at BU, I started to create the first prototype. Soon after, we were admitted to <a href="http://summer.hcp.com/">Summer@Highland</a>, an incredibly great and generous program for young entrepreneurs. Towards the end of the summer, we decided that we couldn't simply return to BU, which is why we applied to <a href="http://www.startupbootcamp.org/programs/berlin.html">Startupbootcamp Berlin</a>, got in and moved in with my parents.
          </p>
        </div>
      </div>
    </li>
    
    <!-- Las Vegas No.1 -->
    <li class="about-timeline-entry" data-importance='4'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'vegas.jpg' %>" style='height:150px;' alt="">
        <h5>Las Vegas No. 1</h5>
        <p>TechStars Seattle Interviews (unfortunately not 21 at the time)</p>
        <footer>
          <div class="location">
            Las Vegas, NV
          </span>
          <div class="date">
            Summer 2012
          </span>
          <div class="timeline-entry-tags">
            #traveler #geek
          </span>
        </footer>
      </div>
    </li>
    
    <!-- Rome -->
    <li class="about-timeline-entry" data-importance='4'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'rome.jpg' %>" style='height:150px;' alt="">
        <h5>Rome</h5>
        <p>City Trip with the family to the ancient city of Rome</p>
        <footer>
          <div class="location">
            Rome, Italy
          </span>
          <div class="date">
            Summer 2012
          </span>
          <div class="timeline-entry-tags">
            #traveler
          </span>
        </footer>
      </div>
    </li>
    
    <!-- Savannah 2012 -->
    <li class="about-timeline-entry" data-importance='3'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'savannah.jpg' %>" style='height:150px;' alt="">
        <h5>#Savannah2012</h5>
        <p>Roadtrip in a van from Pittsburgh, PA to Savannah, GA</p>
        <footer>
          <div class="location">
            Pittsburgh, PA and Savannah, GA
          </span>
          <div class="date">
            Spring Break 2012
          </span>
          <div class="timeline-entry-tags">
            #traveler
          </span>
        </footer>
      </div>
    </li>
    
    <!-- Apture -->
    <li class="about-timeline-entry flippable" data-importance='2'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'apture.jpg' %>" style='height:150px;' alt="">
        <h5>Apture</h5>
        <p>Interned at the semantic-web, contextual search company Apture (acquired by Google in 2011). My first real job.</p>
        <footer>
          <div class="location">
            San Francisco, CA
          </span>
          <div class="date">
            Summer 2011
          </span>
          <div class="timeline-entry-tags">
            #geek #worker #coder
          </span>
        </footer>
      </div>
      
      <div class="about-timeline-entry-detail" style='width: 500%;'>
        <div class="margin-5">
          <h2>Apture</h2>
          <p>
            I have met Tristan at the Thiel Fellow event earlier the year and was immediately Tristan's passion and product sense. I told myself I had to work for him, no matter the outcome of the Thiel Fellow decision, and so I did.
          </p>
          
          <p>
            The beginning of my internship was quite scary, as I had no accomodation planned and it was the first time I had to dive into someone else's extensive code base. All while using a language and framework I never used before (Python/Django). Over time however, I get to appreciate all the things that make Silicon Valley one of the greatest places to work and live.
          </p>
          
          <p>
            Apture's product was (unfortunately discontinued) one of the greatest products of all time in my opinion. When you were reading something on the Internet, but didn't know what X or Y meant, you could simply highlight the term and Apture would give you a little popup with relevant information such as the entity's Wikipedia article, a Google Map, Youtube Videos, etc. It helped me tremendously as a non-native English speaker as well as fuel my curiosity. Before (and after :( ) Apture, I open up way too many Wikipedia articles in new tabs.
          </p>
          
          <p class="centered">
            <iframe class='centered video' width="50%" height='250' src="http://www.youtube.com/embed/frQxY7tANO8?list=UURBNnR7QQZdXFZL6_FfDiUw" frameborder="0" allowfullscreen></iframe>
          </p>
          
          
          <p>
            Among other things, I have sped up their local queries trenemendously and improved upon the UX of the map. Since users would generally look up locations of things they didn't know, a simple static map would often not be the best option. Instead, depending on the entity, we'd show a auto-zooming map to give context.
          </p>
        </div>
      </div>
    </li>
    
    <!-- Thiel Finalist -->
    <li class="about-timeline-entry flippable" data-importance='3'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'thiel.jpg' %>" style='height:150px;' alt="">
        <h5>Thiel Finalist</h5>
        <p>Was a finalist for the controversial Thiel Fellowship, a $100,000 grant for people under 20 to forgo higher education. </p>
        <footer>
          <div class="location">
            San Francisco, CA
          </span>
          <div class="date">
            Spring 2011
          </span>
          <div class="timeline-entry-tags">
            #geek #worker
          </span>
        </footer>
      </div>
      
      <div class="about-timeline-entry-detail" style='width: 500%;'>
        <div class="margin-5">
          <h2>Thiel Finalist</h2>
          <p>
            After randomly applying to the <a href="http://www.thielfellowship.org/">Thiel Fellowship</a> last minute, I surprisingly reached the final round that included meeting the man himself, but especially the ultimate fellows. While I eventually did not receive the fellowship, I made valuable connections and the fundamental insight, that anything is possible. In many ways, the Thiel Fellowship paved the way for my current career path.
          </p>
        </div>
      </div>
    </li>
    
    <!-- BU -->
    <li class="about-timeline-entry flippable" data-importance='2'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'bu.jpg' %>" style='height:150px;' alt="">
        <h5>Boston University</h5>
        <p>
          Attended college in the great city of Boston while pursuing a B.A in Computer Science.
        </p>
        <footer>
          <div class="location">
            Boston, MA
          </span>
          <div class="date">
            Since 2010
          </span>
          <div class="timeline-entry-tags">
            #student
          </span>
        </footer>
      </div>
      <div class="about-timeline-entry-detail">
        <div class="margin-5">
          <h2>Boston University</h2>

        <p>Got admitted into the Kilachand Honors College and awarded the full-tuition Trustee Scholarship. Pursued a B.A. in Computer Science with a cumulative GPA of X.xx and a Major GPA of X.xx.</p>
        
        <p>
          I still count Boston University as one of the best things that could have happened to me. I grew tremendously as a person by immersing myself into American culture and getting to know people from all walks of life. It was also Boston that introduced my to Startups and Technology on a more professional scale.
        </p>
        
        <h5>
          Course Work
        </h5>
        
        <p>
          My Education has been deliberately more breath- than depth-focused. In my first two years in the Honors College, I had the fortunate of immersing myself into various disciplines. After my leave of absence, I have continued to gain the most of my education by broadening my horizon.
        </p>
        
        <p>
          While I'm certainly not the biggest fan of the very theory/acedemia-oriented CS curriculum at BU, I did had my fair share of interesting courses, Machine Learning being my favorite.
        </p>
        </div>
      </div>
    </li>
    
    <!-- HHG -->
    <li class="about-timeline-entry flippable" data-importance='3'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'hhgym.jpg' %>" style='height:150px;' alt="">
        <h5>Heinrich-Hertz-Gymnasium</h5>
        <p>
          Attended the science-oriented high school and graduated with the Abitur with a GPA of 1.3
        </p>
        <footer>
          <div class="location">
            Berlin, Germany
          </span>
          <div class="date">
            2003 - 2010
          </span>
          <div class="timeline-entry-tags">
            #student
          </span>
        </footer>
      </div>
      
      <div class="about-timeline-entry-detail">
        <h2>Heinrich-Hertz-Gymnasium</h2>
        <p>Attended the selective science-oriented high school in Berlin, cumulating in the Abitur, the German high education entrance certificate with a GPA of 1.3 (1.0 being best)</p>
        <p>
          I have loved my high school that allowed my to explore my academic interests among high-achieving peers. I have been class and school president and placed at the top of local and regional science olympiads.
        </p>
        <p>
          Only thing to complain about my high school is the quite devasting gender ratio of 1:5.
        </p>
      </div>
    </li>
    
    <!-- Event Photography -->
    <li class="about-timeline-entry flippable" data-importance='3'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'event.jpg' %>" style='height:150px;' alt="">
        <h5>Event Photography</h5>
        <p>
          Getting semi-serious with my photography hobby
        </p>
        <footer>
          <div class="location">
            Berlin, Germany and Boston, MA
          </span>
          <div class="date">
            2009 - 2010
          </span>
          <div class="timeline-entry-tags">
            #geek #creative #worker
          </span>
        </footer>
      </div>
      
      <div class="about-timeline-entry-detail">
        <div class="margin-5">
          <h2>Event Photography</h2>
          <p>
            As for many people, photography has been a close hobby of mine, not only for documentary, but artistic purposes as well. While this has been mostly a private endavour, I have peeked into the professional aspects of photography as well.
          </p>
          <p>
            For me, it started with Nightlife photography at <a href="http://www.virtualnights.com">Virtualnights</a>. While it is, in many ways, a great job for nightlife-loving 18-year-old in me, it also is a really crappy one because of the hours. On the positive side, I did not had to worry about not having enough willing subjects.
          </p>
          <p>
            I later tried to get a foot in the door with Fashion Photography, and while I can put the Berlin and Boston Fashion Week onto my portfolio, I had to stop my venturing into professional photography because of time constraints. From this time, I especially appreciated my first exposure to a world unknown to me while covering exclusive locations and crowds.
          </p>
        </div>
      </div>
    </li>
    
    <!-- Neuerdings -->
    <li class="about-timeline-entry flippable" data-importance='4'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'neuerdings.png' %>" style='height:150px;' alt="">
        <h5>Tech Blogger</h5>
        <p>A quick writing stunt at tech-blog Neuerdings.com</p>
        <footer>
          <div class="location">
            Berlin, Germany
          </span>
          <div class="date">
            2009
          </span>
          <div class="timeline-entry-tags">
            #geek #worker
          </span>
        </footer>
      </div>
      
      <div class="about-timeline-entry-detail">
        <div class="margin-5">
          <h2>Tech Blogger</h2>
          <p>
            After seeing a job opening at my then favorite gadget blog <a href="http://neuerdings.com">neuerdings.com</a>, I decided to apply and see how it's like. At first, tt was pretty cool knowing that thousands of people would read your posts every day. However, the work itself was pretty dull. It most involved reading other blogs or press releases and create one generic post after the other.
          </p>
        </div>
      </div>
    </li>
    
    <!-- Nams Remote -->
    <li class="about-timeline-entry flippable" data-importance='2'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'namsremote.jpg' %>" style='height:150px;' alt="">
        <h5>Nam's Remote</h5>
        <p>First money-making side-project</p>
        <footer>
          <div class="location">
            Berlin, Germany
          </span>
          <div class="date">
            Spring 2009
          </span>
          <div class="timeline-entry-tags">
            #coder #geek #worker
          </span>
        </footer>
      </div>
      
      <div class="about-timeline-entry-detail">
        <div class="margin-5">
          <h2>Nam's Remote</h2>
          <p>
            After the "success" of Maps Offline, I quickly realized the fun and reward of just building things that happen to solve a problem. Since I was always fascinated by alternative Input/Output methods to back then Mouse/Keyboard, I wanted to take advantage of the great sensors and technology the iPhone provided.
          </p>
          <p>
            This was also my first real side-project which involved me learning all the goodies of "real" programming. It took me a week to just understand Apple's "Hello World program". Eventually however, I managed to create something usable.
          </p>
          <p>
            Nam's Remote was heavily inspired by the Wii console and started with the idea that you should be able to use your iPhone as a steering wheel for PC games, much like YC-backed <a href="http://flypadapp.com/">Flypad</a> 4 years later. Furthermore, it included templates to remotely control media players, act like a touchpad/keyboard and many more.
          </p>
          
          <p class="centered">
            <iframe width="100%" height="515" src="http://www.youtube.com/embed/nMl1uPFDzj0" frameborder="0" allowfullscreen></iframe>
          </p>
          
          <p>
            In hindsight, just like Maps Offline, I'm quite amazed how I have improvised and things worked out. I had no clue of memory allocation (nor ARC back in the days) and I had my brother do the basic design (as well as speak English in the videos). To control the host, I used the Java Robot API by sending RPC-like messages such as "|mousedown|300|200|" over a UDP connection. It was a lot of google, copy-paste and trial and error until it worked. And I am proud of it.
          </p>
          
          <p>
            Not only was I among the first 10,000 apps in the AppStore, Nam's Remote was my largest commercial success so far. Seeing the revenue figures right after school was out was quite exciting.
          </p>
        </div>
      </div>
    </li>
    
    <!-- Maps Offline -->
    <li class="about-timeline-entry flippable" data-importance='3'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'maps.jpg' %>" style='height:150px;' alt="">
        <h5>Maps Offline</h5>
        <p>My first public side project ever.</p>
        <footer>
          <div class="location">
            Berlin, Germany
          </span>
          <div class="date">
            Summer 2008
          </span>
          <div class="timeline-entry-tags">
            #coder
          </span>
        </footer>
      </div>
      
      <div class="about-timeline-entry-detail">
        <div class="margin-5">
          <h2>Maps Offline</h2>
          <p>
            I don't even know whether Maps Offline deserves the connotation of side-project as it never exceeded 300 lines of code. And those lines are probably the ugliest mankind has ever seen.
          </p>
          <p>
            All started with my desire for the iPhone. It came out earlier in the year and I just needed to have it. It was just too damn expensive. Next best thing: the iPod Touch. Problem: No Internet on the go in the wifi-wasteland that is Germany. Back then, my internal navigation system wasn't quite upto modern standards. So I wanted maps offline.
          </p>
          <p>
            Like all good product stories, I was looking for a solution, couldn't find one, so I decided to try to build me own. Which is easier said than done without prior programming knowledge. Or official API's in the pre AppStore-days. In the end, I managed to scramble something together and lo and behold, people actually liked what I was doing. Seeing five-digit download numbers for something like Maps Offline still baffles me.
          </p>
          <p>
            To date, I trace all of my major life events back to this moment. To get a glimpse at the great quality of Maps Offline, watch the following Video:
          </p>
          <p class="centered">
            <iframe width="50%" class='video' height="255" src="http://www.youtube.com/embed/UaSoCNGig68" frameborder="0" allowfullscreen></iframe>
          </p>
        </div>
      </div>
    </li>
    
    <!-- START -->
    <li class="about-timeline-entry flippable" data-importance='3'>
      <div class="about-timeline-entry-card">
        <img src="<%= image_path 'start.jpg' %>" style='height:150px;' alt="">
        <h5>START Scholarship</h5>
        <p>Support that I will be eternally grateful for</p>
        <footer>
          <div class="location">
            Berlin, Germany
          </span>
          <div class="date">
            2007 - 2010
          </span>
          <div class="timeline-entry-tags">
            #student
          </span>
        </footer>
      </div>
      
      <div class="about-timeline-entry-detail">
        <div class="margin-5">
          <h2><a href="http://www.start-stiftung.de/">START Scholarship</a></h2>
          <p>
            The <a href="http://www.start-stiftung.de">START-Scholarship</a> is a Germany-wide scholarship for motivated student immigrants with a financial need. It had a great impact on me and my view on a multicultural society. I was actually rejected the first time around.
          </p>
          <p>
            It was the first time I was exposed to different cultures apart from the German majority and Vietnamese subculture. Not until did the program support me financially, but also organized educational trips and seminars in various topics. It was especially the financial support that allowed me do live and learn more independently and broadly. Amonst other things, it helped to purchase the Macbook crucial for the development of Nam's Remote as well as my camera.
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>

<footer style="font-size:0.5em;">Images from Lemon Liu, Eric Milet, Kris Khoury from The Noun Project</footer>
